.App {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

.home-logo {
  background-image: url(./images/Content/sage.jpg);
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: right 0% bottom 60%;
  background-size: cover;
}


.contact {
  color: white;
  background-image: url(./images/Content/flowers.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.contact-form {
  margin: 30px;
  width: 55%;
  display: inline-block;
}